img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
section.content-header.padding-bottom {
    padding-bottom: 30px;
}
hr {
    border: 0;
    height: 1px;
    background: #AA80CE;
    box-shadow: 0px 1px 0px #DDCCEB;
}
.button_sep {
    padding-top: 30px;
    border-top: 1px solid #ddd;
    margin-top: 15px;
}
span.required {
    color: #cc0000;
}
span.error {
    color: #cc0000;
}
.form-control.custom-field {
    width: 84%;
    display: inline-block;
}

a.add_field_button {
    display: inline-block;
    background: #3C8DBC;
    color: #fff;
    padding: 7px 8px;
}
a.remove_field{
	display: inline-block;
    background: #DD4B39;
    color: #fff;
    padding: 7px 8px;
}
span.flash_success {
    background: green;
    display: block;
    text-align: center;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    font-size: 20px;
}
span.flash_error {
    background: #cc0000;
    display: block;
    text-align: center;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    font-size: 20px;
}
span#sum {
    display: inline-block;
    padding: 5px;
    background: #eee;
    width: 90%;
    margin-left: 2%;
    font-size: 18px;
    font-weight: 700;
}
#student_name .dispaly_name {
border: 1px solid #ddd;
padding: 16px;
display: block;
}
.dispaly_name.ajax_disply_name {
padding: 6px 20px !important;
background: rgba(255,173, 0, 0.1);
font-weight: 700;
}